<html>
<head>
    <title>チャット</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        ul#messages {
            list-style-type: none;
        }
        ul#messages li {
            margin-bottom: 2px;
        }
        ul#messages li img {
            margin-right: 10px;
        }
        input { display: block; }
        ul { list-style: none; }
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>ちゃっとしよう (Websocket を使ったチャットアプリケーション)</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <ul id="messages"></ul>
            </div>
        </div>
        <form id="chatbox" role="form">
            <div class="form-group">
                <label for="message">{{.UserData.name}}からメッセージを送信</label>
                または
                <a href="/logout">サインアウト</a>
                <textarea id="message" class="form-control"></textarea>
            </div>
            <input type="submit" value="送信" class="btn btn-default"/>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function () {
            var socket = null;
            var msgbox = $("#chatbox textarea");
            var messages = $("#messages");
            $("#chatbox").submit(function () {
                if (!msgbox.val()) return false;
                if (!socket) {
                    alert("エラー: WebSocket 接続が行われていません。")
                    return false;
                }

                var data = JSON.stringify({
                    Message: msgbox.val()
                });
                socket.send(data);
                msgbox.val("");
                return false
            });

            if (!window["WebSocket"]) {
                alert("エラー: WebSocketに対応していないブラウザです。")
            } else {
                socket = new WebSocket("ws://{{.Host}}/room");
                socket.onclose = function (ev) { alert("接続が終了しました。") };
                socket.onmessage = function (ev) {
                    var data = JSON.parse(ev.data);
                    messages.append(
                        $("<li>")
                            .append(
                                $("<img>")
                                    .css({
                                        width: 50,
                                        verticalAlign: "middle"
                                    })
                                    .attr("src", data.AvatarUrl),
                                $("<strong>").text(data.Name + ": "),
                                $("<span>").text(data.Message),
                                $("<i>").text(" (" + data.When + ")")
                            )
                    );
                };
            }
        })
    </script>
</body>
</html>
